django
psycopg2
Pillow
django-debug-toolbar
python-bittrex==0.2.1
django-suit==0.2.25
django-suit-locale==1.0.10
django-admin-bootstrapped
numpy
TA-Lib
raven==6.4.0
telebot
# python-binance==0.7.0
python-binance==0.7.5
