{% extends 'admin/base_main.html' %}
{% load admin_static i18n %}{% load suit_tags %}{% load url from suit_compat %}
{% block main_content %}
<div id="app">
    <!-- sidebar -->
    <div class="sidebar app-aside" id="sidebar">
        <div class="sidebar-container perfect-scrollbar">
            <div>
                <!-- start: SEARCH FORM -->
                <div class="search-form hidden-md hidden-lg">
                    <a class="s-open" href="#"> <i class="ti-search"></i> </a>
                    <form class="navbar-form" role="search">
                        <a class="s-remove" href="#" target=".navbar-form"> <i class="ti-close"></i> </a>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="btn search-button" type="submit">
                                <i class="ti-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- end: SEARCH FORM -->
                <!-- start: USER OPTIONS -->
                <div class="nav-user-wrapper">
                    <div class="media">
                        {#								<div class="media-left">#}
                        {#									<a class="profile-card-photo" href="#"><img alt="" src="assets/images/avatar-1.jpg"></a>#}
                        {#								</div>#}

                        {% if user.is_active and user.is_staff %}
                            <div class="media-body">
                                {% block welcome-msg %}
                                    <span class="media-heading text-white">{% trans 'Welcome,' %}</span>
                                    <div class="text-small text-white-transparent">
                                        {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
                                    </div>
                                {% endblock %}
                            </div>
                            <div class="media-right media-middle">
                                <div class="dropdown">
                                    <button href class="btn btn-transparent text-white dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu animated fadeInRight pull-right">
                                        {% block userlinks %}
                                            {% url 'django-admindocs-docroot' as docsroot %}

                                            {% if docsroot %}
                                                <li>
                                                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                            </li>
                                        {% endblock %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- end: USER OPTIONS -->

            {% include 'suit/menu.html' %}
                </div>
        </div>
    </div>
    <!-- / sidebar -->
    <div class="app-content">
        <!-- start: TOP NAVBAR -->
        <header class="navbar navbar-default navbar-static-top">
            <!-- start: NAVBAR HEADER -->
            <div class="navbar-header">
                <button href="#" class="sidebar-mobile-toggler pull-left btn no-radius hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"> <img src="{% static 'pocket/images/logo.png' %}" alt="Packet"/> </a>
                <a class="navbar-brand navbar-brand-collapsed" href="index.html"> <img src="{% static 'pocket/images/logo-collapsed.png' %}" alt="" /> </a>

                <button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse" data-toggle-class="menu-open">
                    <i class="fa fa-folder closed-icon"></i><i class="fa fa-folder-open open-icon"></i><small><i class="fa fa-caret-down margin-left-5"></i></small>
                </button>
            </div>
            <!-- end: NAVBAR HEADER -->
            <!-- start: NAVBAR COLLAPSE -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-left hidden-sm hidden-xs">
                    <li class="sidebar-toggler-wrapper">
                        <div>
                            <button href="javascript:void(0)" class="btn sidebar-toggler visible-md visible-lg">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="toggle-fullscreen"> <i class="fa fa-expand expand-off"></i><i class="fa fa-compress expand-on"></i></a>
                    </li>
                    <li>
                        <form role="search" class="navbar-form main-search">
                            <div class="form-group">
                                <input type="text" placeholder="Enter search text here..." class="form-control">
                                <button class="btn search-button" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>


                <ul class="nav navbar-right">
                    <!-- start: MESSAGES DROPDOWN -->
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown"> <span class="badge"> 3 </span> <i class="fa fa-envelope"></i> </a>
                        <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                            <li>
                                <span class="dropdown-header"> Unread messages</span>
                            </li>
                            <li>
                                <div class="drop-down-wrapper ps-container">
                                    <ul>
                                        <li class="unread">
                                            <a href="javascript:;" class="unread">
                                                <div class="clearfix">
                                                    <div class="thread-image">
                                                        <img src="{% static 'pocket/images/avatar-2.jpg' %}" alt="">
                                                    </div>
                                                    <div class="thread-content">
                                                        <span class="author">Nicole Bell</span>
                                                        <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                        <span class="time"> Just Now</span>
                                                    </div>
                                                </div> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="unread">
                                                <div class="clearfix">
                                                    <div class="thread-image">
                                                        <img src="{% static 'pocket/images/avatar-3.jpg' %}" alt="">
                                                    </div>
                                                    <div class="thread-content">
                                                        <span class="author">Steven Thompson</span>
                                                        <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                        <span class="time">8 hrs</span>
                                                    </div>
                                                </div> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="clearfix">
                                                    <div class="thread-image">
                                                        <img src="{% static 'pocket/images/avatar-5.jpg' %}" alt="">
                                                    </div>
                                                    <div class="thread-content">
                                                        <span class="author">Kenneth Ross</span>
                                                        <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                        <span class="time">14 hrs</span>
                                                    </div>
                                                </div> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="view-all">
                                <a href="#"> See All </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: MESSAGES DROPDOWN -->
                    <!-- start: ACTIVITIES DROPDOWN -->
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell"></i> </a>
                        <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                            <li>
                                <span class="dropdown-header"> You have new notifications</span>
                            </li>
                            <li>
                                <div class="drop-down-wrapper ps-container">
                                    <div class="list-group no-margin">
                                        <a class="media list-group-item" href=""> <img class="img-circle" alt="..." src="{% static 'pocket/images/avatar-1.jpg' %}"> <span class="media-body block no-margin"> Use awesome animate.css <small class="block text-grey">10 minutes ago</small> </span> </a>
                                        <a class="media list-group-item" href=""> <span class="media-body block no-margin"> 1.0 initial released <small class="block text-grey">1 hour ago</small> </span> </a>
                                    </div>
                                </div>
                            </li>
                            <li class="view-all">
                                <a href="#"> See All </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: ACTIVITIES DROPDOWN -->
                    <!-- start: LANGUAGE SWITCHER -->
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="flag-icon flag-icon-us"></i> English </a>
                        <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                            <li>
                                <a href="#" class="menu-toggler"> Deutsch </a>
                            </li>
                            <li>
                                <a href="#" class="menu-toggler"> English </a>
                            </li>
                            <li>
                                <a href="#" class="menu-toggler"> Italiano </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: LANGUAGE SWITCHER -->
                </ul>
                <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                    <div class="arrow-left"></div>
                    <div class="arrow-right"></div>
                </div>
                <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
            </div>
            <button class="sidebar-mobile-toggler dropdown-off-sidebar btn hidden-md hidden-lg"  data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
                &nbsp;
            </button>
            <button class="dropdown-off-sidebar btn hidden-sm hidden-xs" data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
                &nbsp;
            </button>
            <!-- end: NAVBAR COLLAPSE -->
        </header>
        <!-- end: TOP NAVBAR -->
        <div class="main-content" >
            <div class="wrap-content container" id="container">
                <!-- start: BREADCRUMB -->
                <div class="breadcrumb-wrapper">
                    {% block content_title %}{% if title %}
                        <h4 class="mainTitle no-margin">{{ title }}</h4>
                    {% endif %}{% endblock %}

                    <span class="mainDescription">{% block pretitle %}{% endblock %}</span>

                    {% if not is_popup %}
                        {% block breadcrumbs %}
                            <ul class="pull-right breadcrumb">
                                <li><a href="{% url 'admin:index' %}">
                                    <i class="fa fa-home margin-right-5 text-large text-dark"></i>{% trans 'Home' %}</a>
                                </li>
                                {% if title %}
                                    <li class="active">
                                        {{ title }}
                                    </li>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    {% endif %}


                </div>
                <!-- end: BREADCRUMB -->

                {% block content-center %}

                    {% block messages %}
                        {% if messages %}

                            {% for message in messages %}
                                <div class="alert alert-{% firstof message.tags 'info' %}">
                                    <button class="close" data-dismiss="alert">×</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock messages %}

                    <div id="suit-center" class="container-fluid container-fullw suit-column">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-body">
{#                                        <h5 class="over-title margin-bottom-15">Basic <span class="text-bold">Table</span></h5>#}
                                        {% block content %}
                                            {% block object-tools %}{% endblock %}
                                            {{ content }}
                                        {% endblock %}

                                        {% block sidebar_content %}
                                            {% block sidebar %}{% endblock %}
                                        {% endblock %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div id="content" class="{% block coltype %}colM{% endblock %} row-fluid">




                    </div>
                    <!-- END Content -->
{#                    </div>#}
                {% endblock %}

        </div>
    </div>
</div>
<!-- start: FOOTER -->
<footer>
    <div class="footer-inner">
        <div class="pull-left">
            &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Cripto-board</span>. <span>All rights reserved</span>
        </div>
        <div class="pull-right">
            <span class="go-top"><i class="ti-angle-up"></i></span>
        </div>
    </div>
</footer>
<!-- end: FOOTER -->


</div>
<!-- start: MAIN JAVASCRIPTS -->

{% endblock %}
