<nav>
    <!-- start: MAIN NAVIGATION MENU -->
    <div class="navbar-title">
        <span>Main Navigation</span>
    </div>
    <ul class="main-navigation-menu">
        <li>
            <a href="{% url 'admin:index' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm"><span class="letter-icon"><i class="fa fa-home"></i></span></div>
                        {#											<div class="lettericon" data-text="Панель управления" data-size="sm" data-char-count="2"></div>#}
                    </div>
                    <div class="item-inner">
                        <span class="title"> Панель управления </span>
                    </div>
                </div> </a>
        </li>

        <li>
            <a href="{% url 'admin:trading_marketbot_changelist' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm">
                            <span class="letter-icon"><i class="fa fa-train"></i></span></div>
                        {#											<div class="lettericon" data-text="Панель управления" data-size="sm" data-char-count="2"></div>#}
                    </div>
                    <div class="item-inner">
                        <span class="title"> Боты </span>
                    </div>
                </div> </a>
        </li>

        <li>
            <a href="{% url 'admin:trading_marketmyorder_changelist' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm">
                            <span class="letter-icon"><i class="fa fa-book"></i></span></div>
                        {#											<div class="lettericon" data-text="Панель управления" data-size="sm" data-char-count="2"></div>#}
                    </div>
                    <div class="item-inner">
                        <span class="title"> Ордера </span>
                    </div>
                </div> </a>
        </li>

        <li>
            <a href="{% url 'stat:orders' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm">
                            <span class="letter-icon"><i class="fa fa-credit-card"></i></span></div>
                        {#											<div class="lettericon" data-text="Панель управления" data-size="sm" data-char-count="2"></div>#}
                    </div>
                    <div class="item-inner">
                        <span class="title"> Ордера new </span>
                    </div>
                </div> </a>
        </li>

        <li>
            <a href="{% url 'stats' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm"><span class="letter-icon"><i class="fa fa-table"></i></span></div>
                        {#											<div class="lettericon" data-text="Панель управления" data-size="sm" data-char-count="2"></div>#}
                    </div>
                    <div class="item-inner">
                        <span class="title"> Статистика </span>
                    </div>
                </div> </a>
        </li>
        <li>
            <a href="{% url 'stat:main' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm"><span class="letter-icon">
                            <i class="fa fa-line-chart"></i></span></div>

                    </div>
                    <div class="item-inner">
                        <span class="title"> Статистика Binance </span>
                    </div>
                </div> </a>
        </li>
        <li>
            <a href="{% url 'stat:main-bittrex' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm"><span class="letter-icon"><i class="fa fa-table"></i></span></div>

                    </div>
                    <div class="item-inner">
                        <span class="title"> Статистика Bittrex </span>
                    </div>
                </div> </a>
        </li>
        <li>
            <a href="{% url 'charts' %}">
                <div class="item-content">
                    <div class="item-media">
                        <div class="letter-icon-wrapper size-sm"><span class="letter-icon"><i class="fa fa-bar-chart"></i></span></div>
                        {#											<div class="lettericon" data-text="Панель управления" data-size="sm" data-char-count="2"></div>#}
                    </div>
                    <div class="item-inner">
                        <span class="title"> Графики </span>
                    </div>
                </div> </a>
        </li>

        <li class="active open">
            <form name=first>
                <div class="panel-title">Разница в процентах</div>
                <input id=fnum type='text' placeholder="Первое число" onkeyup="return proverka(this);">
                <input id=snum type='text' placeholder="Второе число" onkeyup="return proverka(this);">
                <input id=result type='text' disabled="disabled" readonly='readonly' />
                <input class="btn btn-green" type=button value='Рассчитать' onclick=diff_per();  return false;>
                <input class="btn btn-grey" type=reset value=Сбросить></center>
            </form>
        </li>


    </ul>
    <!-- end: MAIN NAVIGATION MENU -->



</nav>

<script>
    function proverka(input) {
        var value = input.value;
        var rep = /[-\;":'a-zA-Zа-яА-Я]/;
        if (rep.test(value)) {
            value = value.replace(rep, '');
            input.value = value;
        }
    }


    function diff_per() {
        var fnum = $('#fnum').val().replace(",",".");
        var snum = $('#snum').val().replace(",",".");
        if(fnum==''){
            alert('Введите первое число');
        }else if(snum==''){
            alert('Введите второе число');
        }else if(fnum==0 && snum==0){
            alert('Enter Values Properly');
        }else {
            var diff = fnum-snum;
            var avg = (parseInt(fnum)+parseFloat(snum))/2;
            var per = snum/fnum*100-100;
            if(snum<fnum){
                per = (-1)*per;
            }
            $('#result').val(per.toFixed(2)+'%');
        }
    }
</script>