{% extends base_tpl %}
{% load i18n static bootstrapped_goodies_tags humanize %}
{% block title %}Статистика{% endblock %}
{% block extrascript %}
    <script>
        $('.list-group a').click(function(e){
            e.stopPropagation();
        })
    </script>
{% endblock %}
{% block main_content %}
    <h1>Статистика {% if bot %}{{ bot.name }}{% endif %}</h1>
    <div class="row">
        {% for v, s in stats.items %}
            <div class="col-md-7 col-lg-5">
                <div id="visits" class="panel panel-white no-radius no-border">
                    <div class="panel-heading padding-right-70">
                        <h2 class="inline-block"> {{ v }} </h2>
                    </div>
                    <div class="panel-wrapper">
                        <div class="panel-body">
                            <div class="block">

                                <table class="table table-stylish">
                                    <tbody>
                                    <tr>
                                        <td class="">Всего пар</td>
                                        <td class="center" >{{ s.total_pair }}</td>
                                        <td>Стартовая сумма</td>
                                        <td>{{ s.start_sum|floatformat:"-2" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">Исполнено покупок</td>
                                        <td class="center">{{ s.total_buy }}</td>
                                        <td>на сумму </td>
                                        <td>{{ s.total_sum_buy|floatformat:"-2" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="">Исполнено продаж</td>
                                        <td class="center">{{ s.total_sell }}</td>
                                        <td>на сумму</td>
                                        <td>{{ s.total_sum_sell|floatformat:"-2" }}</td>
                                    </tr>

                                    <tr>
                                        <td class="">Закрыто покупок</td>
                                        <td class="center">{{ s.close_buy }}</td>
                                        <td>на сумму</td>
                                        <td>{{ s.close_sum_buy|floatformat:"-2" }}</td>
                                    </tr>
{#                                    <tr>#}
{#                                        <td class="">Закрыто продаж</td>#}
{#                                        <td class="center">{{ s.close_sell }}</td>#}
{#                                        <td>на сумму</td>#}
{#                                        <td>{{ s.close_sum_sell|floatformat:"-2" }}</td>#}
{#                                    </tr>#}
                                    <tr>
                                        <td class="">Открыто покупок</td>
                                        <td class="center">
                                            <span {% if s.open_buy %}class="text-red"{% endif %}>{{ s.open_buy }}</span>
                                        </td>
                                        <td>на сумму</td>
                                        <td>
                                            <span {% if s.open_buy %}class="text-red"{% endif %}>
                                            {{ s.open_sum_buy|floatformat:"-2" }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Открыто продаж</td>
                                        <td class="center">
                                            <span {% if s.open_sell %}class="text-red"{% endif %}>{{ s.open_sell }}</span>
                                        </td>
                                        <td>на сумму</td>
                                        <td>
                                            <span {% if s.open_sell %}class="text-red"{% endif %}>
                                            {{ s.open_sum_sell|floatformat:"-2" }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Отменено покупок</td>
                                        <td class="center">
                                            <span>{{ s.cancel_buy }}</span>
                                        </td>
                                        <td>Отменено продаж</td>
                                        <td>
                                            <span>{{ s.cancel_sell }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Профит</td>
                                        <td colspan="3">
                                            <span class="text-green">{{ s.profit|floatformat:"-2" }} - {{ s.per_profit|floatformat:"-2" }} %</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="panel-group accordion" id="accordion{{ v }}">
                                    {% for p, data in s.pairs.items %}
                                        <div class="panel panel-white">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                                       data-parent="#accordion{{ v }}" href="#collapse{{ p }}">
                                                        <i class="icon-arrow"></i> <strong>{{ p }}</strong>
                                                        <span class="pull-right">
                                                            [
                                                            {{ data.total_buy }} /
                                                            <span class="text-green">{{ data.total_sell }}</span>
                                                            /
                                                            <span {% if data.open_buy %}class="text-red"{% endif %}>
                                                                {{ data.open_buy }} </span>
                                                                /
                                                            {{ data.profit|floatformat:"-2" }} ]
                                                        </span>
                                                    </a></h5>
                                            </div>
                                            <div id="collapse{{ p }}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li>Исполнено покупок {{ data.total_buy }}
                                                            на сумму {{ data.total_sum_buy|floatformat:"-2" }}</li>
                                                        <li>Исполнено продаж {{ data.total_sell }}
                                                            на сумму {{ data.total_sum_sell|floatformat:"-2" }}</li>
                                                        <li>Закрыто покупок на сумму {{ data.close_sum_buy|floatformat:"-2" }}</li>
                                                        <li>Открытых покупок {{ data.open_buy }} на сумму
                                                            <span {% if data.open_sum_buy %}class="text-red"{% endif %}>
                                                            {{ data.open_sum_buy|floatformat:"-2" }}
                                                            </span>
                                                        </li>
                                                        <li>Открытых продаж {{ data.open_sell }} на сумму
                                                            <span {% if data.open_sum_sell %}class="text-red"{% endif %}>
                                                            {{ data.open_sum_sell|floatformat:"-2" }}
                                                            </span>
                                                        </li>
                                                        <li>Профит
                                                            <span class="text-green">
                                                                {{ data.profit|floatformat:"-2" }} -
                                                                {{ data.per_profit|floatformat:"-2" }} %
                                                            </span>
                                                        </li>
                                                    </ul>
                                                <div class="list-group pull-right">
                                                    <a href="{% url 'trading:chart-market' data.name %}" target="_blank"
                                                       style="z-index: 1000;"
                                                       class="btn btn-dark-grey"><i class="fa fa-bar-chart"></i>
                                                    </a>
                                                    <a href="{% url 'statistic:orders-list' bot.exchange.code data.name %}"
                                                       target="_blank" style="z-index: 1000;"
                                                       class="btn btn-dark-grey"><i class="fa fa-books"></i>
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}